<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}zui/css/zui.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/style.css"/>
		<link href="{{ STATIC_URL }}zui/lib/datatable/zui.datatable.min.css" rel="stylesheet">

	</head>
	<script src="{{ STATIC_URL }}js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}zui/js/zui.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}zui/lib/datatable/zui.datatable.min.js"></script>
	<script src="{{ STATIC_URL }}customJS/index.js" type="text/javascript" charset="utf-8"></script>
	{% block js %}{% endblock %}
	<body>
		{% block main %}{% endblock %}
	</body>
</html>
