{% extends 'include/base.html' %}
{% block main %}
<header class="Xlogo">
  <h1>
    <div>
      <img src=""/>
      <a href="{% url 'event_list' %}">云盘服务</a>
    </div>
    <small><a href="#">{{ request.user.username }}</a>欢迎来到云盘服务</small>
  </h1>
</header>
<section id="listContent">
  <div class="row">
    <div class="col-md-2 col-lg-2">
      <div class="gridTitle">
        <h3>在线开盘</h3>
      </div>
      <div class="navList">
        <ul class="nav nav-pills nav-stacked" id="navActive">
          <li><a href="{% url 'event_list' %}">活动介绍</a></li>
          <li><a href="{% url 'event_opensta' %}">开盘统计管理</a></li>
          <li><a href="{% url 'event_order' %}">开盘订单管理</a></li>
          <li><a href="###">自定义电视墙</a></li>
      </ul>
      </div>
    </div>
    <div class="col-md-10  col-lg-10">{% block right %}{% endblock %}</div>
  </div>
</section>
<footer class="loginFotter">
  <h4>承接单位：石家庄佳诚网络技术有限公司</h4>
</footer>
{% endblock %}
