{% extends 'include/base.html' %}

{% block main %}
<header class="Xlogo">
  <h1>
    <div>
      <img src=""/>
      <a href="###">XXX</a>
    </div>
    <small>欢迎来到XXX</small>
  </h1>
</header>
<section class="container" id="listContent" style="min-height:570px">
  <div class="row">
    <div class="col-md-2 col-lg-2">
      <div class="gridTitle">
        <h3>在线开盘</h3>
      </div>
      <div class="navList">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'event_list' %}">活动介绍</a></li>
          <li><a href="###">开盘统计管理</a></li>
          <li><a href="###">开盘订单管理</a></li>
          <li><a href="###">自定义电视墙</a></li>
      </ul>
      </div>
    </div>
    <div class="col-md-10  col-lg-10">{% block right %}{% endblock %}</div>
  </div>
</section>
<footer class="loginFotter">
  <h4>承接单位：石家庄佳诚网络技术有限公司</h4>
</footer>
{% endblock %}
