<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width ,initial-scale = 1,minimum-scale = 1,maximum-scale = 1,user-scalable =no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线选房</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/swiper.min.css" />
</head>
<body>
<div class="wapline">

</div>

</body>
<script src="../js/jquery-1.12.4.min.js"></script>
<script src="../js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="../js/login.js"></script>
<script>
// 获取地址栏的参数数组
function getUrlParams()
{
    var search = window.location.search ;
    // 写入数据字典
    var tmparray = search.substr(1,search.length).split("&");
    var paramsArray = new Array;
    if( tmparray != null)
    {
        for(var i = 0;i<tmparray.length;i++)
        {
            var reg = /[=|^==]/;    // 用=进行拆分，但不包括==
            var set1 = tmparray[i].replace(reg,'&');
            var tmpStr2 = set1.split('&');
            var array = new Array ;
            array[tmpStr2[0]] = tmpStr2[1] ;
            paramsArray.push(array);
        }
    }
    // 将参数数组进行返回
    return paramsArray ;
}

// 根据参数名称获取参数值
function getParamValue(name)
{
    var paramsArray = getUrlParams();
    if(paramsArray != null)
    {
        for(var i = 0 ; i < paramsArray.length ; i ++ )
        {
            for(var  j in paramsArray[i] )
            {
                if( j == name )
                {
                    return paramsArray[i][j] ;
                }
            }
        }
    }
    return null ;
}

$(function(){
    var id = getParamValue("id");
    var userid = getParamValue("userid");
    var cover=getParamValue("cover");
    var key=getParamValue("key");
    if(userid){
        localStorage.setItem("userid",userid);
    }
    if(cover){
        localStorage.setItem("cover",cover);
    }

   var userid1=localStorage.getItem("userid");
    $.ajax({
        type:"get",
        url:http+"/app/detail/",
        data:{
            userid:userid1,
            id:id,
            key:key
        },
        success:function(data){
            if(data.response_state==200){
                creatEle(data.objects[0]);
                $(".userid1").html(userid);
                $(".ind1").html(id);
                $(".btnL").click(function(){
                    if((new Date(data.objects[0].event_start).getTime()<new Date().getTime()&&new Date().getTime()<new Date(data.objects[0].event_end).getTime())||
                            (new Date(data.objects[0].test_start).getTime()<new Date().getTime()&&new Date().getTime()<new Date(data.objects[0].test_ent).getTime())){
                        window.location.href="houseList.html?id="+id+"&userid="+userid1+"&key="+key;
                    }else{
                        alert("活动未开始");
                    }
               })

            }else if(data.response_state==401){
                window.location.href="login.html?id="+id;
            }else if(data.response_state==403){
                alert(data.msg);
                window.location.href="login.html?id="+id;
            }
            else{
                alert(data.msg);
            }
        },
        error:function(){
            alert("出错了,请重试！");
        }
    })

});
</script>
</html>