<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no" />
<title></title>
<link type="text/css" rel="stylesheet" href="../css/reset.css"/>
</head>
<body>
	<div class="container" id="houseList"></div>

	<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../js/time_js.js"></script>
	<script type="text/javascript" src="../js/login.js"></script>
<script>
	// 获取地址栏的参数数组
	function getUrlParams()
	{
		var search = window.location.search ;
		// 写入数据字典
		var tmparray = search.substr(1,search.length).split("&");
		var paramsArray = new Array;
		if( tmparray != null)
		{
			for(var i = 0;i<tmparray.length;i++)
			{
				var reg = /[=|^==]/;    // 用=进行拆分，但不包括==
				var set1 = tmparray[i].replace(reg,'&');
				var tmpStr2 = set1.split('&');
				var array = new Array ;
				array[tmpStr2[0]] = tmpStr2[1] ;
				paramsArray.push(array);
			}
		}
		// 将参数数组进行返回
		return paramsArray ;
	}
	// 根据参数名称获取参数值
	function getParamValue(name)
	{
		var paramsArray = getUrlParams();
		if(paramsArray != null)
		{
			for(var i = 0 ; i < paramsArray.length ; i ++ )
			{
				for(var  j in paramsArray[i] )
				{
					if( j == name )
					{
						return paramsArray[i][j] ;
					}
				}
			}
		}
		return null ;
	}
	var id = getParamValue("id");
	$(function(){
        var eventname=localStorage.getItem("eventname");
        $("title").html(decodeURI(eventname));
        $.ajax({
            type:"get",
            url:http+"/app/detail/",
            data:{
                id:id
            },

            success:function(data){
                if(data.response_state==200){
                    data3(data.objects[0]);
                }
            },
            error:function(){}
        });

		$.ajax({
			type:"get",
			url:http+"/app/houses/",
			data:{
				id:id
			},
			success:function(data){
				if(data.response_state==200){
					createList(data.objects[0]);
					updataTime();
					houseList(data.objects[0]);
					$(".idNum").html(id);
				}else if(data.response_state==401||data.response_state==403){
                    alert(data.msg);
					window.location.href="login.html?id="+id;
				}else{
					alert(data.msg);
				}
			},
			error:function(){
				alert("页面出错，请重试!");
			}
		});
	});
    function updataTime() {
        var count = $('<div class="countBlack">'+
            '<div class="game_time">'+
            '<div class="hold">'+
            '<div class="pie pie1"></div>'+
            '</div>'+
            '<div class="hold">'+
            '<div class="pie pie2"></div>'+
            '</div>'+
            '<div class="bg"> </div>'+
            '<div class="time"></div>'+
            '</div>'+
            '</div>'
        );
        $("body").append(count);
        setInterval(function() {
            var date = new Date().getTime();  //当前时间
            //活动结束时间
            var date1 = new Date($(".event_start").html()).getTime();//开盘
            var date2 = new Date($(".event_end").html()).getTime();//开盘
            var date3 = new Date($(".test_start").html()).getTime();//公测
            var date4 = new Date($(".test_ent").html()).getTime();//公测
            var date5 = date2 - date;  //时间差的毫秒数
            var date6 = date4 - date;
            var count1=Math.floor((date3-date)/1000);
            var count2=Math.floor((date1-date)/1000);
            //计算出相差天数
            if(date<date3){
                $('#endTimeing').html("公测活动未开始");
                 if(count1<=30&&count1>0){
                     $(".countBlack").show();
                     countDown();

                     // $(".countBlack p span").html(count1);
                 }else{
                     $(".countBlack").hide();
                 }
            }else if(date>date3&&date<date4){
                if (date6 > 0) {
                    var dayss = Math.floor(date6 / (24 * 3600 * 1000));
                    //计算出小时数
                    var leave11 = date6 % (24 * 3600 * 1000);   //计算天数后剩余的毫秒数
                    var hourss = Math.floor(leave11 / (3600 * 1000));
                    //计算相差分钟数
                    var leave22 = leave11 % (3600 * 1000);       //计算小时数后剩余的毫秒数
                    var minutess = Math.floor(leave22 / (60 * 1000));
                    //计算相差秒数
                    var leave33 = leave22 % (60 * 1000);     //计算分钟数后剩余的毫秒数
                    var secondss = Math.round(leave33 / 1000);

                    $('#endTimeing').html("距公测结束还有 " + (dayss < 10 ? "0" + dayss : dayss) + "天 " + (hourss < 10 ? "0" + hourss : hourss) + "小时 " + (minutess < 10 ? "0" + minutess : minutess) + " 分钟" + (secondss < 10 ? "0" + secondss : secondss) + " 秒");
                }
            }else if(date>date4&&date<date1){
                $('#endTimeing').html("开盘活动未开始");
                if(count2<=30&&count2>0){
                    $(".countBlack").show();
                    countDown();
                }else{
                    $(".countBlack").hide();
                }
            }else if(date>date1&&date<date2){
                if (date5 > 0) {
                    var days = Math.floor(date5 / (24 * 3600 * 1000));
                    //计算出小时数
                    var leave1 = date5 % (24 * 3600 * 1000);   //计算天数后剩余的毫秒数
                    var hours = Math.floor(leave1 / (3600 * 1000));
                    //计算相差分钟数
                    var leave2 = leave1 % (3600 * 1000);       //计算小时数后剩余的毫秒数
                    var minutes = Math.floor(leave2 / (60 * 1000));
                    //计算相差秒数
                    var leave3 = leave2 % (60 * 1000);     //计算分钟数后剩余的毫秒数
                    var seconds = Math.round(leave3 / 1000);

                    $('#endTimeing').html("距开盘结束还有 " + (days < 10 ? "0" + days : days) + "天 " + (hours < 10 ? "0" + hours : hours) + "小时 " + (minutes < 10 ? "0" + minutes : minutes) + " 分钟" + (seconds < 10 ? "0" + seconds : seconds) + " 秒");
                }

            }else {
                $('#endTimeing').html("开盘活动已结束");
            }

        },1000)
    }
</script>
</body>
</html>
