<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>订单</title>
    <link  rel="stylesheet" href="../css/reset.css">
</head>
<body>
 <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
 <script type="text/javascript" src="../js/login.js"></script>
<script>
    // 获取地址栏的参数数组
    function getUrlParams()
    {
        var search = window.location.search ;
        // 写入数据字典
        var tmparray = search.substr(1,search.length).split("&");
        var paramsArray = new Array;
        if( tmparray != null)
        {
            for(var i = 0;i<tmparray.length;i++)
            {
                var reg = /[=|^==]/;    // 用=进行拆分，但不包括==
                var set1 = tmparray[i].replace(reg,'&');
                var tmpStr2 = set1.split('&');
                var array = new Array ;
                array[tmpStr2[0]] = tmpStr2[1] ;
                paramsArray.push(array);
            }
        }
        // 将参数数组进行返回
        return paramsArray ;
    }
    // 根据参数名称获取参数值
    function getParamValue(name)
    {
        var paramsArray = getUrlParams();
        if(paramsArray != null)
        {
            for(var i = 0 ; i < paramsArray.length ; i ++ )
            {
                for(var  j in paramsArray[i] )
                {
                    if( j == name )
                    {
                        return paramsArray[i][j] ;
                    }
                }
            }
        }
        return null ;
    }
    var id = getParamValue("id");
    $(function(){
        $.ajax({
            type:"get",
            url:http+"/app/orderslist/",
            data:{
                id:id
            },
            success:function(data){
                if(data.response_state==200){
                    order(data);
                    $(".order-all").each(function(){
                        $(this).click(function(){
                            if((new Date($(".event_start").html()).getTime()<new Date().getTime()&&new Date().getTime() < new Date($(".event_end").html()).getTime())||
                                    (new Date($(".test_start").html()).getTime()<new Date().getTime()&&new Date().getTime() < new Date($(".test_ent").html()).getTime())){
                            window.location.href="orderinfo.html?orderId="+$(this).find(".oferId").html()+"&id="+id;
	                    }else{
                          alert("活动尚未开始");
                      }

                        })
                    });
                }else if(data.response_state==401||data.response_state==403){
                    alert(data.msg);
                    window.location.href="login.html?id="+id;
                }else{
                    alert(data.msg);
                }

            },
            error:function(){
                alert("页面出错，请重试！");
            }
        });

        $.ajax({
            type:"get",
            url:http+"/app/detail/",
            data:{
                id:id
            },
            success:function(data){
                if(data.response_state==200){
                    data4(data.objects[0]);
                }
            },
            error:function(){}
        });



    })
</script>

</body>
</html>