@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,tr,td{margin:0;padding:0;}
li{list-style:none;}
body{font-size:18px;font-family:"Microsoft Ya Hei","微软雅黑";color:#545454;}
a{text-decoration:none;color:#6c6c6c;outline:none;}
.clear:after{content:"";display:block;clear:both;}
.clear{zoom:1;}
.fl{float:left;}
.fr{float:right;}
.wap{
    width:100%;
    overflow:hidden;
    background:url("/static/images/bg1.png") no-repeat;
    position:relative;
    background-size:100% 100%;
}
.tips{
    position:absolute;
    top:30%;
    right:10px;
}
.tips p{
    width:24px;
    height:60px;
    line-height:24px;
    text-align:center;
    background:#fff;
    color:#222;
    margin-bottom:20px;
    font-size:20px;
}
.wapbox {position:relative;height:900px;}
.wallList{
    position:absolute;
    top:0;
    left:6%;
}
.wapbox .title{
    width:2%;
    height:100%;
    margin-top:13%;
    /*word-wrap: break-word;*/
    text-align:center;
    padding-left:2%;
    line-height:50px;
    color:#f6c030;
    float:left;
    font-size:40px;
}
.wallList{ float:right;width:94%;}
.wallList .unit{
    width:31%;
    float:left;
    margin-left:1%;
    padding-top:14px;
    font-size:22px;
    color:#222;
}
.wallList .unit a{
    font-size:22px;
    color:#222;
}
.unitName{
    height:35px;
    line-height:35px;
    font-size:30px;
    color:yellow;
    text-align:center;
    background:url("/static/images/bg2.png") no-repeat center;
    margin-bottom:14px;
}
.unitLists{position:relative;height:840px;overflow:hidden;}
.unitList{position:absolute;top:0;}
.unitList span{
    width:90px;
    height:40px;
    line-height:40px;
    text-align:center;
    display:inline-block;
    background:#fff;
    margin-bottom:8px;
    margin-right:2px;
}
.unitList .cellList,.tips p.bought{
    background:#f9a0a1;
    color:#4c4c4c;
}




.orderbox{ width:400px;margin:100px auto;}
.order-top2{
    color:white;
    background-color: rgb(57,191,102);
    height:150px;
    overflow:hidden;
}
.order-top2 p{
    position: relative;
    left:10px;
    top:24px;
    font-size:20px;
}
.order-top2 div{
    position: relative;
    left:10px;
    top:50px;
    font-size: 24px;
}
.order-1,.order-2{
    color:white;
    /*font-size:.8rem;*/
    position: relative;
    left:10px;
    top:16px;
}
.order-2{
    /*font-size:.7rem;*/
    float:right;
    margin-right:20px;
}
.order-middle2{
    width:95%;
    position: relative;
    /*left:.5rem;*/
    padding:20px;
}
.order-middle2 p{
    position: relative;
    line-height: 24px;
}
.order-bottom2{
    width:95%;
    position: relative;
    padding:20px;
    font-size: 1rem;
    padding-top:48px;
}
.order-bottom2 ul li{
    list-style:none;
}
.order-bottom-1{
    position: relative;
    top:-20px;
}
.order-bottom-2{
    position: relative;
}
.order-bottom-3{
    position: relative;
    top:18px;
}
.order-bottom-1 table tr,.order-bottom-2 table tr,.order-bottom-3 table tr { line-height:30px;}
.order-bottom2 div table {
    text-align: left;
    font-size:18px;
}
.order-bottom2 div table tr td:first-child{
    color: #929292;
}
.order-1 td:last-child{
    color: red;
}
.order-last2{
    position: relative;
    top:-4px;
    left:80%;
    color: #929292;
    font-size:16px;
}
.order-a{
    padding-bottom:1rem;
    border:1px solid #eee;
    border-top:none;
    overflow:hidden;
}
