{% extends 'include/base.html' %} {% block main %}
<style type="text/css">

	.col-sm-4 {
		width: 30% !important;
		display: inline-block !important;
		vertical-align: middle;
		padding: 0 10px !important;
	}
		.col-sm-2{
			width: 20% !important;
			display: inline-block !important;
			vertical-align: middle;
			padding: 0 10px !important;
		}
</style>
<div style="padding:20px;">
	<p id="isPub">{{form.is_pub.value|default:''}}</p>
	<form class="form-horizontal" method="post" enctype="multipart/form-data" id="createEvent">
		{% csrf_token %}
		<div class="form-group">
			<label class="col-sm-3 control-label">活动类型<i>*</i></label>
			<div class="col-sm-9">
				<select class="form-control" name="type" id="type">
					<option value="1" {% if object.type == 1 %}selected{% endif %}>房间开盘</option>
					<option value="2" {% if object.type == 2 %}selected{% endif %}>车位开盘</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 control-label">活动名称<i>*</i></label>
			<div class="col-sm-9">
				<input type="text" class="form-control" placeholder="活动名称" name="name" value="{{form.name.value|default:''}}" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">咨询电话<i>*</i></label>
			<div class="col-sm-9">
				<input type="text" class="form-control"  onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)"
					onblur="this.v();" maxlength="13" placeholder="咨询电话" name="phone_num" value="{{form.phone_num.value|default:''}}" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">公测时间<i>*</i></label>
			<div class="input-group col-sm-4">
				<input type="text" class="form-control form-datetime" readonly name="test_start" value="{{form.test_start.value|default:''|date:'Y-m-d H:i'}}" required>
			</div>
			<div class="labelCenter">至</div>
			<div class="input-group col-sm-4">
				<input type="text" class="form-control form-datetime" readonly name="test_end" value="{{form.test_end.value|default:''|date:'Y-m-d H:i'}}" required>
			</div>
			<div class="col-sm-8" style="margin:-10px 0 -10px 25%;color:red;"><small>开始时间不得早于当前时间，不得晚于结束时间</small></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">是否显示公测房价</label>
			<div class="col-sm-9">
				<label class="radio-inline">
			    	<input type="radio" class="input-group-sm housePrice" name="test_price" value="1" {% if object.test_price == True %}checked{% endif %}> 是
				</label>
				<label class="radio-inline">
				  	<input type="radio" class="input-group-sm" name="test_price" value="0" {% if object.test_price == False %}checked{% endif %}> 否
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">活动开始时间<i>*</i></label>
			<div class="input-group col-sm-4">
				<input type="text" class="form-control form-datetime" readonly name="event_start" value="{{form.event_start.value|default:''|date:'Y-m-d H:i'}}" required>
			</div>
			<div class="labelCenter">至</div>
			<div class="input-group col-sm-4">
				<input type="text" class="form-control form-datetime" readonly name="event_end" value="{{form.event_end.value|default:''|date:'Y-m-d H:i'}}" required>
			</div>
			<div class="col-sm-8" style="margin:-10px 0 -10px 25%;color:red;"><small>正式活动与公测活动至少间隔1天；开始时间不得早于当前时间，不得晚于结束时间</small></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">选房完成期限<i>*</i></label>
			<div class="col-sm-2">
				<input type="text" class="form-control" onkeyup="(this.v=function(){this.value=this.value.replace(/^[0]\d*$/,'');}).call(this)" onblur="this.v();"
				placeholder="请输入正整数" min="1" name="limit" value="{{form.limit.value|default:''}}" required>
			</div>
			<label class="col-sm-3 control-label" id="follow_num">同一账号允许收藏数<i>*</i></label>
			<div class="col-sm-2">
				<input type="text" class="form-control" onkeyup="(this.v=function(){this.value=this.value.replace(/^[0]\d*$/,'');}).call(this)" onblur="this.v();"
					placeholder="请输入正整数" name="follow_num" value="{{form.follow_num.value|default:''}}" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">是否显示建筑面积</label>
			<div class="col-sm-9">
				<label class="radio-inline">
			    	<input type="radio" class="input-group-sm coverArea" name="covered_space" value="1" {% if object.covered_space == True %}checked{% endif %}> 是
				</label>
				<label class="radio-inline">
			    	<input type="radio" class="input-group-sm" name="covered_space" value="0" {% if object.covered_space == False %}checked{% endif %}> 否
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">是否显示建筑面积单价</label>
			<div class="col-sm-9">
				<label class="radio-inline">
			    	<input type="radio" class="input-group-sm coverPrice" name="covered_space_price" value="1" {% if object.covered_space_price == True %}checked{% endif %}> 是
				</label>
				<label class="radio-inline">
			    	<input type="radio" class="input-group-sm" name="covered_space_price" value="0" {% if object.covered_space_price == False %}checked{% endif %}> 否
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">活动细则<i>*</i></label>
			<div class="col-sm-9">
				<textarea class="form-control" style="height:100px;" rows="3" placeholder="请填写活动细则" name="description" required>{{form.description.value|default:''}}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">认购须知<i>*</i></label>
			<div class="col-sm-9 ">
				<textarea class="form-control" style="height:100px;" rows="3" placeholder="请填写认购须知" name="notice" required>{{form.notice.value|default:''}}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">温馨提示<i>*</i></label>
			<div class="col-sm-9 ">
				<textarea class="form-control" style="height:100px;" rows="3" placeholder="请填写温馨提示" name="tip" required>{{form.tip.value|default:''}}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" style="vertical-align: top;">活动封面<i>*</i></label>
			<div class="col-sm-9 myfileCover">
				<input type="file" class="form-control" id="cover" onchange='showCover()' name="cover">
				<p><b>添加的封面图为</b><span class="coverImgFile" style="margin-left:20px;">{{form.cover.value|default:''}}</span></p>
				<p>建议上传图片大小为 380*230px</p>
				<div style="width: 380px;">
					<img src='{{MEDIA_URL}}{{object.cover}}' alt='' id='coverImg' onerror="this.src='{{ STATIC_URL }}images/default.png'" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" style="vertical-align: top;">平面图</label>
			<div class="col-sm-9 myfilePlane_graph">
				<p>建议上传图片大小为 160*120px</p>
				<label class="col-sm-6" for="" style="padding-left: 0;">
					<p>选择平面图</p>
					<input type="file" class="form-control" id="plane_graph1" onchange='showPlane_graph1()' name="plane_graph">
					<img src='{{MEDIA_URL}}{{object.plane_graph}}' alt='' id='plane_graph_img1' onerror="this.src='{{ STATIC_URL }}images/default.png'"/>
				</label>
				<label class="col-sm-6" for="">
					<p>选择平面图</p>
					<input type="file" class="form-control" id="plane_graph2" onchange='showPlane_graph2()' name="plane_graph1">
					<img src='{{MEDIA_URL}}{{object.plane_graph1}}' alt='' id='plane_graph_img2' onerror="this.src='{{ STATIC_URL }}images/default.png'"/>
				</label>
				<label class="col-sm-6" for="" style="padding-left: 0;">
					<p>选择平面图</p>
					<input type="file" class="form-control" id="plane_graph3" onchange='showPlane_graph3()' name="plane_graph2">
					<img src='{{MEDIA_URL}}{{object.plane_graph2}}' alt='' id='plane_graph_img3' onerror="this.src='{{ STATIC_URL }}images/default.png'"/>
				</label>
				<label class="col-sm-6" for="">
					<p>选择平面图</p>
					<input type="file" class="form-control" id="plane_graph4" onchange='showPlane_graph4()' name="plane_graph3">
					<img src='{{MEDIA_URL}}{{object.plane_graph3}}' alt='' id='plane_graph_img4' onerror="this.src='{{ STATIC_URL }}images/default.png'"/>
				</label>
			</div>
		</div>
		{% if form.non_field_errors %}
		<div class="alert alert-danger" style="font-size:14px;font-weight:bold">{{form.non_field_errors}}</div>
		{% endif %}
		<input type="hidden" name="company" value="{{form.company.value|default:''}}">
		<div class="modal-footer">
			<input type="submit" class="btn btn-primary btn_create" value="确定"></input>
		</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		//	封面图
		var coverImgFile = $(".coverImgFile").html();
		var coverImgFiles = coverImgFile.slice(17); //截取获取文件的文件名
		$(".coverImgFile").html(coverImgFiles);
		var pub = $("#isPub").html();
		if(pub == "True"){
			$("#isPub").html("活动已发布，不可编辑！").show();
			$(".btn_create").attr("disabled","disabled");
		}

	});

//	//去除火狐input number的滚轮事件
//	$("input[type='number']").on('DOMMouseScroll', MouseWheel, false);
//	function MouseWheel(event) {
//		event = event || window.event;
//		event.preventDefault();
//	}
	//活动封面显示
	function showCover() {
		//以下即为完整客户端路径
		var file_img = document.getElementById("coverImg");
		iptfileupload = document.getElementById('cover');
		getPath(file_img, iptfileupload, file_img);

		// 获取文件名
		var fil = iptfileupload.files[0].name;
		$(".coverImgFile").html(fil);
	};

	function showPlane_graph1() {
		var file_img = document.getElementById("plane_graph_img1");
		iptfileupload = document.getElementById('plane_graph1');
		getPath(file_img, iptfileupload, file_img);
	};
	function showPlane_graph2() {
		var file_img = document.getElementById("plane_graph_img2");
		iptfileupload = document.getElementById('plane_graph2');
		getPath(file_img, iptfileupload, file_img);
	};
	function showPlane_graph3() {
		var file_img = document.getElementById("plane_graph_img3");
		iptfileupload = document.getElementById('plane_graph3');
		getPath(file_img, iptfileupload, file_img);
	};
	function showPlane_graph4() {
		var file_img = document.getElementById("plane_graph_img4");
		iptfileupload = document.getElementById('plane_graph4');
		getPath(file_img, iptfileupload, file_img);
	};

	// 选择开始日期
	$(".form-datetime").datetimepicker({
		weekStart: 1,
		todayBtn: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
		showMeridian: 1,
		startDate: new Date(),
		format: "yyyy-mm-dd hh:ii"
	});
</script>
{% endblock %}
