{% extends 'include/base.html' %}
{% block main %}
<style type="text/css">
	.form-group .col-sm-10{
		display: inline-block !important;
	}
</style>
<div style="padding:20px">
	<form class="form-horizontal" method="post" action="">
		{% csrf_token %}
		<div class="form-group">
		    <label class="col-sm-3 col-lg-3 control-label">楼号</label>
		    <div class="col-sm-9 col-lg-9">
		      <input type="text" class="form-control" placeholder="楼号" name="building" required>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-sm-3 col-lg-3 control-label">单元</label>
		    <div class="col-sm-9 col-lg-9">
		      <input type="number" class="form-control" placeholder="单元" name="unit" required>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-sm-3 col-lg-3 control-label">楼层</label>
		    <div class="col-sm-9 col-lg-9">
		      <input type="number" class="form-control" placeholder="楼层" name="floor" required>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-sm-3 col-lg-3 control-label">房号</label>
		    <div class="col-sm-9 col-lg-9">
		      <input type="number" class="form-control" placeholder="房号" name="room_num" required>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-sm-3 col-lg-3 control-label">原价</label>
		    <div class="col-sm-9 col-lg-9">
		      <input type="number" class="form-control" placeholder="原价" name="price" required>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-sm-3 col-lg-3 control-label">线上总价</label>
		    <div class="col-sm-9 col-lg-9">
		      <input type="number" class="form-control" placeholder="线上总价" name="total" required>
		    </div>
		</div>
		<div class="modal-footer">
	    	<input type="submit" class="btn btn-primary" value="确定"></input>
	    </div>
	</form>
</div>
{% endblock %}