{% extends 'include/base.html' %} {% block main %}
<style type="text/css">
	.form-group>.col-sm-9 {
		width: 80% !important;
	}
	.form-group>.col-sm-3 {
		width: 15% !important;
	}
</style>
<div style="padding:20px">
	<form class="form-horizontal" method="post" enctype="multipart/form-data" id="houseTypeCreate">
		{% csrf_token %}
		<div class="form-group">
			<label class="col-sm-3 control-label">户型名称<i>*</i></label>
			<div class="col-sm-9">
				<input type="text" class="form-control" placeholder="户型名称不可重复"
				    name="name" value="{{form.name.value|default:''}}"required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" style="vertical-align: top;">户型图片<i>*</i></label>
			<div class="col-sm-9 myfileCover">
				<input type="file" class="form-control" id="pic" onchange='showPlane()' name="pic">
				<p><b>添加的户型图片为</b><span class="picImgFile" style="margin-left:20px;">{{form.pic.value|default:''}}</span></p>
				<p>建议上传图片大小为 380*230px</p>
				<div style="width: 380px;">
					<img src='{{MEDIA_URL}}{{object.pic}}' alt='' id='picImg' onerror="this.src='{{ STATIC_URL }}images/default.png'"  />
				</div>
			</div>
		</div>
		{% if form.name.errors %}
		<div class="alert alert-danger" style="font-size:14px;font-weight:bold">{{form.name.errors}}</div>
		{% endif %}
		<input type="text" name="event" value="{{form.event.value|default:''}}" style="display:none">
		<div class="modal-footer">
			<input type="submit" class="btn btn-primary" value="确定"></input>
		</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#houseTypeCreate").submit(function(){
			$(".btn-primary").attr("disabled","disabled");
			var inputPic = $(".picImgFile").html();
			if(inputPic == ""){
				new $.zui.Messager('请添加户型照片!', {
					placement:'center',
					type: 'important' // 定义颜色主题
				}).show('',function(){
					$(".btn-primary").removeAttr("disabled","disabled");
				});
	　			return false;
			}
		});
	})
	//平面图显示
	function showPlane() {
		//以下即为完整客户端路径
		var file_img = document.getElementById("picImg"),
			iptfileupload = document.getElementById('pic');
		getPath(file_img, iptfileupload, file_img);

		// 获取文件名
		var fil = iptfileupload.files[0].name;
		$(".picImgFile").html(fil);
	};
</script>
{% endblock %}
