<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no" />
<title>一期二批-1号楼-东一单元-20F-1-1-2003</title>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/reset.css"/>
</head>
<body>
	<div class="container">
		<div class="houseInfotop">
			<p><span>6#东南户</span></p>
			<p><img src="{{STATIC_URL}}images/houseInfo.png" /></p>
			<h1>一期二批-1号楼-东一单元-20F-1-1-2003</h1>
			<div class="houseShare clear">
				<span class="fl"><a href="{% url 'app_eventdetail_list' pk=object.event.id %}">房间列表</a></span>
				<span class="fr">收藏</span>
			</div>
		</div>

		<ul class="houseInfoCont">
			<li>
				售价<br/><span>￥33，9830</span>
			</li>
			<li>
				户型<br/><span>三室一厅</span>
			</li>
			<li>
				房屋类型<br/><span>商住两用</span>
			</li>
		</ul>
		<div class="houseInfoOther">
			<p>其他信息</p>
			<ul>
				<li class="clear">
					<span class="fl"><label>楼层</label><i>20F</i></span>
					<span class="fr"><label style="text-indent:-10px;">首付</label><a>10万</a></span>
				</li>
				<li class="clear">
					<span class="fl"><label>建筑面积</label><i>98.82 m²</i></span>
					<span class="fr"><label>朝向</label><a>朝东南</a></span>
				</li>
				<li class="clear">
					<span class="fl"><label>建筑单位</label><i>约￥343元/m²</i></span>
					<span class="fr"><label>产权类型</label><a>使用权</a></span>
				</li>

			</ul>
		</div>

		<div class="houseInfoOther houseInfoOther1">
			<p>房源位置</p>
			<p class="housePos">石家庄市长安区广安大街16号玉成小区</p>
		</div>

		<!--<div class="houseBtnN houseBtnY">房间已售</div>-->
		<div class="houseBtnY">立即选择</div>
	</div>

	<div class="windowBlack" id="houseInfoBlack">
		<div class="dialog">
			<div class="dialog-content-1">
				<p>订单确认</p>
			</div>
			<div class="dialog-content-2">
				<span class="location">[郑州市]郑州中原新城</span><br>
				<span>A区车位</span><br>
				<div></div>
				<span class="left">售价：</span><span>￥80000元</span><br>
				<span class="left">户型：</span><span>一室一厅一卫</span><br>
				<span class="left">建筑面积：</span><span>1㎡</span><br>
				<div></div>
				<span class="left">客户：</span><span>体验001</span><br>
				<span class="left">手机号码：</span><span>18678334275</span><br>
				<span class="left">证件号码：</span><span>18678334275</span>
			</div>
			<div class="dialog-content-3">
                <span class="dialog-agree">
                    <input type="checkbox" class="dialog-check"/><i></i>
                    我已同意并阅读<a href="protocol.html">《活动协议》</a>
                </span>
			</div>
			<div class="dialog-content-4">
				<div class="dialog-cancle">取消</div>
				<div class="dialog-confirm">确认</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{{STATIC_URL}}src/zepto.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/login.js"></script>
</body>
</html>
