<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no" />
<title>郑州中原新城</title>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/reset.css"/>
</head>
<body>
	<div class="container">
		<ul class="houseTitle clear">
			<li>
				<h3>名苑测试开盘</h3>
				<p>参与人数：<span>73</span></p>
			</li>
			<li class="order">
				<a href="order.html">
					<i></i>
					<p>订单</p>
				</a>
			</li>
			<li class="fresh">
				<a href="javascript:;">
					<i></i>
					<p>刷新</p>
				</a>
			</li>
		</ul>

			<div class="houseList">
				<div class="listTile clear">
					<div class="listTileDiv fl">
						<p>
							<i></i>
							我的收藏
						</p>
						<p class="listTile-style">A区车位</p>
						<p>一期二批-1号楼</p>
					</div>
					<label class="click-down fr" name="true"><i></i></label>
				</div>
			</div>

		<ul class="shareCarList houseTap">
			<li class="shareCar-list">
				<a href="#">
					<p>A区车位--1-004</p>
					<span>￥1000</span>
				</a>
			</li>
			<li class="shareCar-list">
				<a href="#">
					<p>1号楼5单元</p>
					<span>￥43万</span>
				</a>
			</li>
			<li class="shareCar-list">
				<a href="#">
					<p>B区车位--1-008</p>
					<span>￥1000</span>
				</a>
			</li>
		</ul>

		<div class="houseChose houseTap">
			<ul class="floorList">
				<li class="floorList-style">楼层-1</li>
			</ul>

			<ul class="floorChose">
				<li><a href="#">005</a></li>
				<li><a href="houseInfo.html">006</a></li>
				<li><a href="#">007</a></li>
				<li><a href="#">008</a></li>
				<li><a href="#">009</a></li>
				<li><a href="#">010</a></li>
				<li><a href="#">011</a></li>
				<li><a href="#">012</a></li>

			</ul>
		</div>

		<div class="houseTap houseUnit">
			<div class="unite clear">
				<p>一单元</p>
				<p class="listTile-style">二单元</p>
			</div>

			<!--一单元-->
			<div class="houseChose choseTap">
				<div class="floorListbox">
					<!--<ul class="floorList">-->
						<!--<li class="floorList-style">楼层-3</li>-->
					<!--</ul>-->
					<ul class="floorChose">
						<li class="floorLi-red"><a href="#">0101</a></li>
						<li><a href="#">0102</a></li>
						<li><a href="#">0103</a></li>
						<li><a href="#">0201</a></li>
						<li><a href="#">0202</a></li>
						<li><a href="#">0203</a></li>
						<li><a href="#">0301</a></li>
						<li><a href="#">0302</a></li>
						<li><a href="#">0303</a></li>
						<li><a href="#">0401</a></li>
						<li><a href="#">0402</a></li>
						<li><a href="#">0403</a></li>
					</ul>
				</div>
			</div>
			<!--一单元结束-->

			<!--二单元-->
			<div class="houseChose choseTap">
				<div class="floorListbox">
					<!--<ul class="floorList">-->
						<!--<li class="floorList-style">楼层-5</li>-->
					<!--</ul>-->
					<ul class="floorChose">
						<li><a href="#">0101</a></li>
						<li><a href="#">0102</a></li>
						<li class="floorLi-red"><a href="#">0103</a></li>
						<li><a href="#">0201</a></li>
						<li><a href="#">0202</a></li>
						<li class="floorLi-red"><a href="#">0203</a></li>
						<li><a href="#">0301</a></li>
						<li><a href="#">0302</a></li>
						<li><a href="#">0303</a></li>
					</ul>
				</div>

			</div>
			<!--二单元结束-->

			<div class="legend">注：<i></i><span>未售</span>&nbsp;&nbsp;<i></i><span>已售</span></div>
		</div>


		<div class="endTime">
			<i></i>
			<p id="endTimeing"></p>
		</div>
	</div>

	<script type="text/javascript" src="{{STATIC_URL}}src/zepto.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/login.js"></script>
<script>
	function updataTime() {
		var date1 = new Date();  //当前时间
		//活动结束时间
		var date2 = new Date("2017/7/19 00:08:00");
		var date3 = date2.getTime() - date1.getTime();  //时间差的毫秒数
		//计算出相差天数
		if (date3 > 0) {
			var days = Math.floor(date3 / (24 * 3600 * 1000));
			//计算出小时数
			var leave1 = date3 % (24 * 3600 * 1000);   //计算天数后剩余的毫秒数
			var hours = Math.floor(leave1 / (3600 * 1000));
			//计算相差分钟数
			var leave2 = leave1 % (3600 * 1000);       //计算小时数后剩余的毫秒数
			var minutes = Math.floor(leave2 / (60 * 1000));
			//计算相差秒数
			var leave3 = leave2 % (60 * 1000);     //计算分钟数后剩余的毫秒数
			var seconds = Math.round(leave3 / 1000);

			document.getElementById('endTimeing').innerHTML = " 距活动结束还有 " + (days < 10 ? "0" + days : days) + "天 " + (hours < 10 ? "0" + hours : hours) + "小时 " + (minutes < 10 ? "0" + minutes : minutes) + " 分钟" + (seconds < 10 ? "0" + seconds : seconds) + " 秒";
		} else {
			document.getElementById('endTimeing').innerHTML = "活动已结束"
		}
	}

	setInterval(updataTime,1000);
</script>
</body>
</html>
