<!DOCTYPE html>
<html>
<head>
    <title>成功提示</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/reset.css">
</head>
<body>
    <div class="success-container">
        <div class="prompt">
            <img src="{{STATIC_URL}}images/success.png">
            <div class="prompt-text">
                <span>恭喜您，选择成功</span><br>
                <span>A区车位--1-18</span>
            </div>
            <div class="prompt-warning">
                <p>请在2017-07-04 15:06:50前，到项目现场办理正式手续。逾期未办理，视为放弃资格。</p>
            </div>
            <div class="prompt-btn">
                <a href="orderinfo.html">订单详情</a>
            </div>
        </div>
    </div>
</body>
</html>
