<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>订单</title>
    <link  rel="stylesheet" href="{{STATIC_URL}}css/reset.css">
</head>
<body>
 <div class="order-all">
     <div>
        <div class="order-top">
            <a href="orderinfo.html">
                <span >订单号:</span>&nbsp;<span>20170000000000000</span>
                <p>2017-07-03</p>
            </a>
        </div>
        <div class="order-right"><img src="images/arrow.png" alt="" /></div>
      </div>

     <div class="order-middle">
         <table>
             <tr>
                 <td>选房号：</td>
                 <td>00045</td>
             </tr>
             <tr>
                 <td>楼盘：</td>
                 <td>郑州市</td>
             </tr>
             <tr class="order-table">
                 <td>房间：</td>
                 <td>A区车位--1-108</td>
             </tr>
             <tr>
                 <td>售价：</td>
                 <td>￥180,000</td>
             </tr>

             </table>
     </div>

     <div class="order-bottom">
         <span>已选择</span>
     </div>
</div>

</body>
</html>
