<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no" />
<title>资格审核</title>
<link type="text/css" rel="stylesheet" href="css/reset.css"/>
</head>
<body>
	<div class="protocol">
		<h1>活动协议</h1>
		<p>
			1、本次为线上选房，客户需要在选房结束后3日内，到**营销中心缴纳房源保留金，如未按期缴纳则所选房源无效。<br/>
			2、本次线上选房，一组看客户仅能选择一套房源，不可重复选定。<br/>
			3、客户最终付款方式以正式签订《商品房买卖合同》的约定为准，并按签订合同的银行政策缴纳首付款。
		</p>

	</div>

</body>
</html>
