body{
	background-color:#fff;
}
a{
	text-decoration:none;
	color:#000;
}
a:hover,
a:link{
	text-decoration:none;
	
}
ul li{
	list-style: none;
}


.Xlogo{
	width:100%;
	background: #696969;
}
.Xlogo h1{
	width:100%;
	height:50px;
	margin: 0;
}
.Xlogo h1 div{
	float:left;
	margin-top:5px;
	margin-left:5%;
}
.Xlogo h1 div a{
	color:#FFFFFF;
}
.Xlogo h1 small{
	float:right;
	margin-top:15px;
	margin-right:10%;
	color:#FFFFFF;
}


.login-wrap{
	width:100%;
	padding: 0 50px ;
	box-sizing: border-box;
	background: linear-gradient(to right bottom,#e3e3e3 0,#808080 100%);
}
.login{
	width:35%;
	float:right;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 3px rgba(250,250,250,0.4);
	background: rgba(250,250,250,0.4);
	margin-top:150px;
	margin-right:10%;
}



.loginFotter{
	width:100%;
}
.loginFotter h4{
	width:100%;
	height:50px;
	margin: 0;
	text-align: center;
	line-height: 50px;
	color:#FFFFFF;
	background: #696969;
}
