{% extends 'include/main_base.html' %}
{% block right %}
<div>
	<h3>认筹名单 > <a href="{% url 'event_list' %}">{{ event.name }}</a></h3>
</div>
<div class="row" style="padding:10px">
    <a class="btn btn-primary" data-iframe="{% url 'custom_create' pk=event.id %}" data-toggle=modal>添加认筹名单</a>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">导入认筹名单</button>
    <a href="{% url 'customer_export' pk=event.id %}" class="btn btn-default">导出认筹名单</a>
  	<div class="col-lg-3" style="float: right;">
	    <div class="input-group searchWrap">
	      <input type="text" class="form-control" placeholder="搜索名单" id="searchInput" onkeypress="onkeypress(event)">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button" onclick="search()">搜索</button>
	      </span>
	    </div>
    </div>
</div>
<table class="table datatable">
	<thead>
		<tr>
			<th>序号</th>
			<th>姓名</th>
			<th>手机号</th>
			<th>证件号</th>
			<th>备注</th>
			<th>可选套数</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ obj.realname }}</td>
			<td>{{ obj.mobile }}</td>
			<td>{{ obj.identication }}</td>
			<td>{{ obj.remark }}</td>
			<td>{{ obj.count }}</td>
      <td>TODO</td>
			<td>
				<p><a data-toggle="modal" data-target="#deleteModal">删除</a></p>
			</td>
		</tr>
		<!--导入文件模态框-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="exampleModalLabel">上传文件</h4>
		      </div>
		      <div class="modal-body">
		        <form class="form-horizontal">
		        <div class="form-group">
		          <input type="file" name="file" id="files"/>
		        </div>
		      </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn btn-default" onclick="submitFile({{ obj.id }})">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--删除确认框-->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="exampleModalLabel">提示框</h4>
		      </div>
		      <div class="modal-body">
		        <form class="form-horizontal">
		        <div class="form-group">
		          <h2 style="text-align: center;">确认删除？</h2>
		        </div>
		      </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		        <button type="button" class="btn btn-default" onclick="deleteOrder({{ obj.id }},'/event/deletect/')">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
	//搜索功能函数
	function search(url){
		var $value = $("#searchInput").val();
		$.ajax({
			type:"get",
			url:url,
			async:true,
			data:{value:$value,},
			success:function(data){
				window.location.reload()
			},
			error:function(){
				alert("未知错误！")
			}
		});
	};
</script>
{% endblock %}
