<!DOCTYPE html>
<html>
	{% load static %}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
	</head>
	<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/bootstrap.js' %}" type="text/javascript" charset="utf-8"></script>
	<body>
		<header class="Xlogo">
			<h1>
				<div>
					<img src=""/>
					<a href="###">XXX</a>
				</div>
				<small>欢迎来到XXX</small>
			</h1>
		</header>
		<!--内容部分-->
		<section class="container" id="listContent">
			<div class="row">
				<div class="col-md-2">导航栏</div>
				<div class="col-md-10">
					<!--状态栏-->
					<div class="status">
						<ul class="row">
							<li class="col-md-1">序列</li>
							<li class="col-md-2">图片</li>
							<li class="col-md-4">房产信息(户型)</li>
							<li class="col-md-2">状态</li>
							<li class="col-md-2">价格</li>
							<li class="col-md-1">操作</li>
						</ul>
					</div>
					<!--list显示-->
					<ul class="listWrap listWrapCon">
						<li>
							<ul class="row">
								<li class="col-md-1">1</li>
								<li class="col-md-2">
									<a href="###" style="display: block;background: red;width: 100%;height: 100px;"></a>
								</li>
								<li class="col-md-4">
									<h4 class="introduceHouse"><a href="###">住房信息</a></h4>
									<p class="introduceHouse">
										<a href="###">住房信息住房信息住房信息住房信息住房信息住房信息住房信息住房信息住房信息住房信息住房信息住房信息住房信息住房信息</a>
									</p>
								</li>
								<li class="col-md-2">上架/下架</li>
								<li class="col-md-2">20000/平米</li>
								<li class="col-md-1">
									<p>
										<a href="###">编辑</a>
									</p>
									<p>
										<a href="###">删除</a>
									</p>
									<p>
										<a href="###">查看</a>
									</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!--底部-->
		<footer class="loginFotter">
			<h4>承接单位：石家庄佳诚网络技术有限公司</h4>
		</footer>
	</body>
</html>