{% extends 'include/base.html' %}
{% block main %}
		<header class="Xlogo">
			<h1>
				<div>
					<img src=""/>
					<a href="###">XXX</a>
				</div>
				<small>欢迎来到XXX</small>
			</h1>
		</header>
		<!--内容部分-->
		<section class="container" id="listContent" style="min-height:570px">
			<div class="row">
			    <div class="col-md-2 col-lg-2">
				  	<div class="gridTitle">
				  		<h3>导航</h3>
				  	</div>
				  	<div class="navList">
					  	<ul class="nav nav-pills nav-stacked">
					  		<li><a href="###">活动介绍</a></li>
					  		<li><a href="###">房源信息</a></li>
					  		<li><a href="###">认筹名单</a></li>
					  		<li><a href="###">活动</a></li>
						</ul>
				  	</div>
			    </div>
			    <div class="col-md-10  col-lg-10">
				  	<div>
				  		<h3>房源信息 > <a href="{% url 'event_list' %}">{{ event.name }}</a></h3>
				  	</div>
            <div class="row" style="padding:10px">
              <input placeholder="searching" style="float:right">
              <a class="btn btn-primary" data-iframe="{% url 'room_create' pk=event.id %}" data-toggle=modal>添加房间/车位</a>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">导入房价</button>
              <a href="{% url 'event_export' pk=event.id %}" class="btn btn-default">导出房价</a>
            </div>
  					<table class="table datatable">
  						<thead>
  							<tr>
  								<th>序号</th>
  								<th>车位/房间号</th>
  								<th>关联户型</th>
  								<th>价格</th>
  								<th>上架状态</th>
  								<th>选购状态</th>
  								<th>备注状态</th>
  								<th>二维码</th>
  								<th>操作</th>
  							</tr>
  						</thead>
  						<tbody>
  							{% for obj in object_list %}
  							<tr>
  								<td>{{ forloop.counter }}</td>
  								<td>{{ obj.room_num }}</td>
  								<td>TODO</td>
  								<td><p>原价：{{ obj.price }}</p>
  								<p>线上价格：<a data-iframe="{% url 'room_price_update' pk=obj.id %}"
                                data-toggle="modal" data-title="编辑线上价格">{{ obj.total }}
                             <i class="icon icon-pencil"/></a></p></td>
  								<td>{{ obj.status }}</td>
  								<td>TODO</td>
  								<td>TODO</td>
  								<td>qr</td>
  								<td>
  									<p>下架</p>
  									<p><a data-iframe="{% url 'room_remark_update' pk=obj.id %}" data-toggle="modal">情况描述</a></p>
  									<p><a data-iframe="{% url 'event_term_update' pk=obj.id%}" data-toggle="modal">备注</a></p>
  								</td>
  							</tr>
  							{% endfor %}
  						</tbody>
  					</table>
		     </div>
			</div>
		</section>
    <!--导入文件模态框-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">上传文件</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
            <div class="form-group">
              <input type="file" name="file" id="files"/>
            </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-default" onclick="submitFile()">确定</button>
          </div>
        </div>
      </div>
    </div>
	<!--底部-->
	<footer class="loginFotter">
		<h4>承接单位：石家庄佳诚网络技术有限公司</h4>
	</footer>
{% endblock %}
