{% extends 'include/main_base.html' %}
{% block right %}
<div>
	<ol class="breadcrumb">
	  <i class="icon icon-home"></i>
	  <li><a href="{% url 'event_list' %}"><h3>{{event.name}}</h3></a></li>
	  <li class="active">车位房源</li>
	</ol>
</div>
<div class="row" style="padding:10px;margin-top:-20px;">
    <a class="btn btn-primary" data-iframe="{% url 'room_create' pk=event.id %}" data-toggle=modal>添加房间/车位</a>
    <button type="button" class="btn btn-default lead" data-toggle="modal" data-target="#exampleModal" data-moveable="true">导入房价</button>
    <a href="{% url 'room_export' pk=event.id %}" class="btn btn-default">导出房价</a>
	<a href="{% url 'event_house_type_list' pk=event.id %}" class="btn btn-default" target="_blank" data-moveable="true">编辑户型</a>
	<a href="javascript:void(0)" class="btn btn-default house-type" data-id="{{event.id}}" data-target="#house-type-modal" data-moveable="true">一键关联户型</a>
	<div class="col-lg-3" style="float: right;">
	    <form class="form-horizontal searchWrap" method="get" action="">
		    <div class="input-group">
			  <input type="text" class="form-control" placeholder="车位/房间号" id="searchInput" name="value" value="{{value|default:''}}">
			  <span class="input-group-btn">
			    <button class="btn btn-default" type="submit">搜索</button>
			  </span>
			</div>
		</form>
    </div>
    <!--导入房价文件模态框-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">上传文件</h4>
	      </div>
	      <div class="modal-body">
	        <form class="form-horizontal">
	        <div class="form-group">
	          <input type="file" name="file" id="priceFile"/>
	        </div>
	      </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-default" onclick="roomPriceFile(this,{{ event.id }})">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<table class="table datatable">
	<thead>
		<tr>
			<th data-width="5%">序号</th>
			<th data-width="12%">车位/房间号</th>
			<th>单价</th>
			<th>建筑面积</th>
			<th>朝向</th>
			<th>使用年限</th>
			<th>上架状态</th>
			<th>关联户型</th>
			<th>选购状态</th>
			<th>备注状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ obj.building }}栋{{ obj.unit }}单元<br/>{{ obj.floor }}层{{ obj.room_num }}</td>
			<td><p><a data-iframe="{% url 'room_price_update' pk=obj.id %}"
                    data-toggle="modal" data-title="编辑单价">{{ obj.unit_price }}元/㎡
                 <i class="icon icon-pencil"/></a></p></td>
			<td>{{obj.area}} ㎡</td>
			<td>朝  {{obj.looking}}</td>
			<td>{{obj.term}} 年</td>
			<td>{{ obj.status|yesno:"上架,未上架"}}</td>
			<td><a data-iframe="{% url 'room_ht_update' pk=obj.id %}" data-toggle="modal" data-title="关联户型">
				{{ obj.house_type.name }} <i class="icon icon-edit"></i></a></td>
			<td>{{obj.is_sold|yesno:"已选购,未选购"}}</td>
			<td>{% if obj.sign %}<i class="icon icon-check"></i>{% endif %}</td>
			<td>
        <p><a href="javascript:void(0)" data-id="{{obj.id}}" class="status">{{obj.status|yesno:'取消上架,上架'}}</a></p>
				<p><a data-iframe="{% url 'room_remark_update' pk=obj.id %}" data-toggle="modal">情况描述</a></p>
				<p><a data-iframe="{% url 'room_sign_update' pk=obj.id %}" data-toggle="modal" data-size="sm" data-fade="false">备注</a></p>
				<p><a data-target="#deleteModal" data-toggle="modal" data-id="{{obj.id}}" class="delete">删除</a></p>
			</td>
		</tr>
            <!--取消上架-->
		<div class="modal fade" id="status_issue">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
		        <h4 class="modal-title">是否上架</h4>
		      </div>
		      <div class="modal-body">
		        <p>确认{{ obj.status|yesno:"取消上架,上架"}}？</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		        <button type="button" class="btn btn-primary status_confirm">确认</button>
				<input type="hidden" value="" id="status_status">
		      </div>
		    </div>
		  </div>
		</div>
		<!--删除房源-->
		<div class="modal fade" id="deleteModal" data-id="">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
		        <h4 class="modal-title">是否删除该房源</h4>
		      </div>
		      <div class="modal-body">
		        <h2 style="text-align: center;">确认删除该房源？</h2>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		        <button type="button" class="btn btn-primary" id="delete">确认</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">启动对话框</button> -->

		<!-- 一键关注户型 -->
		<div class="modal fade" id="house-type-modal">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
		        <h4 class="modal-title">一键关联户型</h4>
		      </div>
		      <div class="modal-body">
		        <p>已经关联过的户型将不会被重复关联<br>确认关联吗？</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn btn-primary house-type-save">保存</button>
		      </div>
		    </div>
		  </div>
		</div>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
	$('table.datatable').datatable();
	$('.status').on('click', function(e){
		$("#status_status").val($(e.currentTarget).data("id"));
        $("#status_issue").modal();
	});
	$(".status_confirm").on("click", function(e){
		var id = $("#status_status").val();
		$.ajax({
			type:"PUT",
			url:"../salestatus/",
			async:true,
			data:{id:id},
			success:function(){
				window.location.reload();
			},
			error:function(){
				new $.zui.Messager("未知错误", {
					icon: "bell",
					placement: "center",
					type: "danger",
					time: 2000,
				}).show();
			}
		});
	});

	//删除房源
	$(".delete").on('click',function(e){
		var $id = $(e.currentTarget).data("id");
		$("#delete").click(function(){
			$.ajax({
				type:"POST",
				url:"/eventdetaildel/",
				async:true,
				data:{id:$id},
				cache: false,
				success:function(){
					window.location.reload();
				},
				error:function(){
					new $.zui.Messager("未知错误", {
						icon: "bell",
						placement: "center",
						type: "danger",
						time: 2000,
					}).show();
				}
			});
		});
	});
	// 关联户型
	$(".house-type").on('click', function(e){
		var event_id = $(e.currentTarget).data("id");
		$("#house-type-modal").modal();
		$(".house-type-save").on("click", function(){
			$.ajax({
				type:"post",
				url:"/housetypes/",
				data:{event_id:event_id},
				success: function(data) {
					if(data.success == true) {
						var msg = new $.zui.Messager(data.msg, {
							placement:"center",
							type:"success",
							time:0,
						});
						msg.show();
						setTimeout(function(){
							msg.hide(window.location.reload());
						}, 500);
					} else {
						new $.zui.Messager(data.msg, {
							icon: "bell",
							placement: "center",
							type: "warning",
							time: 2000,
						}).show();
					}
				},
				error: function(){
					new $.zui.Messager("未知错误", {
						icon: "bell",
						placement: "center",
						type: "danger",
						time: 2000,
					}).show();
				}
			});
		});
	});
});
</script>
{% endblock %}
