{% extends 'include/base.html' %}
{% block title %}云开盘管理账户{% endblock %}
{% block main %}
<style media="screen">
  .table>thead>tr>th, .table>tbody>tr>td{
    text-align: center;
  }
  .col-sm-2, .col-sm-10{
    width: 20% !important;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
  }
  .col-sm-10{
    width: 75% !important;
    text-align: left;
  }
</style>
<div class="userTit">
  <h2><span class="code">账户管理</span></h2>
</div>
<div class="userlist">
	<div class="row">
		<div class="form-horizontal">
		    <div class="form-group col-sm-10">
			    <label for="province" style="float:left;">省份</label>
			    <div class="col-sm-3">
			      <select class="form-control" id="province">
			        <option value="0">---请选择省份---</option>
			      </select>
			    </div>
			    <label for="downtown" style="float:left;">市区</label>
			    <div class="col-sm-3">
			    	<select class="form-control" id="downtown">
              <option value="0">---请选择市区---</option>
				    </select>
			    </div>
			    <div class="col-sm-4 input-group" style="margin: 0 !important;padding: 0 10px;">
            <form class="form-horizontal searchWrap" method="get" action="/backstage/userlist/">
        			<div class="input-group" style="margin: 0 !important;">
        				<input type="text" class="form-control" placeholder="账户名" id="searchInput" name="value" value="{{value|default:''}}">
        				<span class="input-group-btn">
        			    <button class="btn btn-default" type="button" id="searchUser">搜索</button>
        			  </span>
        			</div>
        		</form>
			    </div>
			</div>
			<div class="col-sm-2" style="text-align: right;">
				<button class="btn btn-primary" data-backdrop="static" data-target="#createModal" data-moveable="true" data-toggle="modal" title="开通新账户">开通新账户</button>
			</div>
	    </div>
	</div>
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th>序号</th>
				<th>账户名</th>
				<th>昵称</th>
				<th>可发布数量</th>
				<th>省份</th>
				<th>市区</th>
				<th>账号过期时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="userList">
			{% for obj in object_list %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ obj.username }}</td>
				<td>{{ obj.name }}</td>
				<td>{{ obj.house_limit }}</td>
				<td>{{ obj.province }}</td>
				<td>{{ obj.city }}</td>
				<td>{{ obj.expire_date }}</td>
				<td>
					<a data-toggle="modal" data-target="#editModal" data-id="{{obj.id}}" class="editUser">编辑账户</a>
					<a data-toggle="modal" data-target="#passwordClear" data-id="{{obj.id}}" class="resetUser" style="margin: 0 20px;">密码重置</a>
					<a data-toggle="modal" data-target="#deleteModal" data-id="{{obj.id}}" class="deleteUser">删除</a>
				</td>
			</tr>
			<!--重置密码-->
			<div class="modal fade" id="passwordClear">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
			        <h4 class="modal-title">重置密码</h4>
			      </div>
			      <div class="modal-body">
			        <p style="text-align: center;font-size: 20px;">确认重置密码吗？</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			        <button type="button" class="btn btn-primary" id="resetUser">确认</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!--删除用户-->
			<div class="modal fade" id="deleteModal">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
			        <h4 class="modal-title">删除管理员</h4>
			      </div>
			      <div class="modal-body">
			        <p>如果该管理员有创建活动则删除该用户失败，确认删除吗？</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			        <button type="button" class="btn btn-primary" id="deleteUser">确认</button>
			      </div>
			    </div>
			  </div>
			</div>
			{% endfor %}
		</tbody>
	</table>
  <!--编辑账户-->
  <div class="modal fade" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
          <h4 class="modal-title">编辑账户</h4>
        </div>
        <div class="modal-body">
          <div style="padding:20px;">
            <form class="form-horizontal" id="editOrderUser">
              <div class="form-group">
                <label class="col-sm-2">用户名<i>*</i></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="请填写用户名" name="username">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">昵称<i>*</i></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="请填写昵称" name="name" >
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">可发布房源数量<i>*</i></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" onkeyup="(this.v=function(){this.value=this.value.replace(/^[0]\d*$|[^0-9]+/,'');}).call(this)"
                    onblur="this.v();"  placeholder="请输入数量" name="house_limit">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">省份<i>*</i></label>
                <div class="col-sm-10">
                  <select class="form-control" id="provinceE" name="province">
                    <option value="0">---请选择省份---</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">市区<i>*</i></label>
                <div class="col-sm-10">
                  <select class="form-control" id="downtownE" name="city">
                    <option value="0">---请选择市区---</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">账号过期时间</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control form-datetime" readonly name="expire_date" value="{{form.expire_date.value|default:''|date:'Y-m-d H:i'}}" >
                </div>
                <div class="col-sm-10" style="margin:10px 0 -10px 20%;text-align:center;color:red;"><small>可以选填该管理员的账号过期时间</small></div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="editUser">确认</button>
        </div>
      </div>
    </div>
  </div>
  <div class="tip" style="display:none;">
    <p style='font-size: 20px;color: #CCCCCC;text-align: center;'>没有符合条件的管理员用户！</p>
  </div>
</div>

<!--创建用户-->
<div class="modal fade" id="createModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title">开通新账户</h4>
      </div>
      <div class="modal-body">
        <div style="padding:20px;">
        	<form class="form-horizontal" id="customerOrder">
        		{% csrf_token %}
        		<div class="form-group">
        			<label class="col-sm-2">用户名<i>*</i></label>
        			<div class="col-sm-10">
        				<input type="text" class="form-control" placeholder="请填写用户名" name="username">
        			</div>
        		</div>
        		<div class="form-group">
        			<label class="col-sm-2">昵称<i>*</i></label>
        			<div class="col-sm-10">
        				<input type="text" class="form-control" placeholder="请填写昵称" name="name" >
        			</div>
        		</div>
        		<div class="form-group">
        			<label class="col-sm-2">密码<i>*</i></label>
        			<div class="col-sm-10">
        				<input type="text" class="form-control" placeholder="请填写密码"  maxlength="11" name="password" >
        			</div>
        		</div>
        		<div class="form-group">
        			<label class="col-sm-2">可发布房源数量<i>*</i></label>
        			<div class="col-sm-10">
        				<input type="text" class="form-control" onkeyup="(this.v=function(){this.value=this.value.replace(/^[0]\d*$|[^0-9]+/,'');}).call(this)"
        					onblur="this.v();"  placeholder="请输入数量" name="house_limit"  value="{{form.house_limit.value|default:''}}">
        			</div>
        		</div>
        		<div class="form-group">
        			<label class="col-sm-2">省份<i>*</i></label>
        			<div class="col-sm-10">
        				<select class="form-control" id="provinceC" name="province">
        					<option value="0">---请选择省份---</option>
        				</select>
        			</div>
        		</div>
        		<div class="form-group">
        			<label class="col-sm-2">市区<i>*</i></label>
        			<div class="col-sm-10">
        				<select class="form-control" id="downtownC" name="city" value="{{form.city.value|default:''}}">
        					<option value="0">---请选择市区---</option>
        				</select>
        			</div>
        		</div>
        		<div class="form-group">
        			<label class="col-sm-2">账号过期时间</label>
        			<div class="col-sm-10">
        				<input type="text" class="form-control form-datetime" readonly name="expire_date" value="{{form.expire_date.value|default:''|date:'Y-m-d H:i'}}" >
        			</div>
        			<div class="col-sm-10" style="margin:10px 0 -10px 20%;text-align:center;color:red;"><small>可以选填该管理员的账号过期时间</small></div>
        		</div>
        	</form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="test()">确认</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
    // 选择开始日期
    $(".form-datetime").datetimepicker({
      weekStart: 1,
      todayBtn: 1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
      showMeridian: 1,
      startDate: new Date(),
      format: "yyyy-mm-dd hh:ii"
    });
    // 创建管理员地址的二级联动
    	createUser();
    	$("#provinceC").change(function(){
    		createUser($(this).val());
    	});
    	$("#provinceE").change(function(){
    		editUserCity($(this).val());
    	});

      // 获取管理员列表、地址
    // filterUser();
		cityList();
		$("#province").change(function(){
      cityList($(this).val());
			filterUser($(this).val(),$("#downtown").val()," ");
		});
		$("#downtown").change(function(){
			filterUser($("#province").val(),$(this).val()," ");
		});
		$("#searchUser").click(function(){
			var searchVal = $("#searchInput").val();
			filterUser($("#province").val(),$("#downtown").val(),searchVal);
		});


    var province = {{ province }};
    var city = {{ city }};
      if(province){
        setTimeout(function(){
          $("#province option").eq(province).attr("selected","selected");
        },100);
        cityList(province);
        setTimeout(function(){
          if(city){
            $("#downtown option[value='"+city+"']").attr("selected","selected");
          }
        },100)
      }

    // 删除用户
    var userID;
    $(".deleteUser").click(function(e){
      userID = $(e.currentTarget).data("id");
    });
    $("#deleteUser").click(function(){ deleteUser(userID); })
    // 密码重置
    $(".resetUser").click(function(e){
      userID = $(e.currentTarget).data("id");
    });
    $("#resetUser").click(function(){ resetUser(userID); })
    // 编辑用户
    $(".editUser").click(function(e){
      userID = $(e.currentTarget).data("id");
      editUser(userID);
    });
    $("#editUser").click(function(){ editSubmit(userID); })
	})
</script>
{% endblock %}
