{% extends 'include/base.html' %}
{% block title %}云开盘管理用户{% endblock %}
{% block main %}
<div class="userTit">
  <h2><span class="code">用户管理</span></h2>
</div>
<div class="userlist">
	<div class="row">
		<div class="form-horizontal">
		    <div class="form-group col-sm-10">
			    <label for="province" style="float:left;">省份</label>
			    <div class="col-sm-3">
			      <select class="form-control" id="province">
			        <option value="0">---请选择省份---</option>
			      </select>
			    </div>
			    <label for="downtown" style="float:left;">市区</label>
			    <div class="col-sm-3">
			    	<select class="form-control" id="downtown">
              <option value="0">---请选择市区---</option>
				    </select>
			    </div>
			    <div class="col-sm-4 input-group" style="margin: 0 !important;padding: 0 10px;">
				    <input type="text" class="form-control" placeholder="搜索用户" id="searchInput">
				    <span class="input-group-btn">
				        <button class="btn btn-default" type="button" id="searchUser" style="padding: 5.5px 12px;">搜索</button>
				    </span>
			    </div>
			</div>
			<div class="col-sm-2" style="text-align: right;">
				<a class="btn btn-primary" data-backdrop="static" data-iframe="{% url 'createuser' %}" data-moveable="true" data-toggle="modal">创建用户</a>
			</div>
	    </div>
	</div>
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th>序号</th>
				<th>用户名</th>
				<th>昵称</th>
				<th>可发布数量</th>
				<th>账号过期时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="userList">
			{% for obj in object_list %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ obj.name }}</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<a data-toggle="modal" data-target="#passwordClear" style="margin: 0 20px;">密码重置</a>
					<a data-toggle="modal" data-target="#deleteModal">删除</a>
				</td>
			</tr>
			<!--重置密码-->
			<div class="modal fade" id="passwordClear">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
			        <h4 class="modal-title">重置密码</h4>
			      </div>
			      <div class="modal-body">
			        <p style="text-align: center;font-size: 20px;">确认重置<b>{{ obj.name }}</b>的密码吗？</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			        <button type="button" class="btn btn-primary" onclick="">确认</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!--删除用户-->
			<div class="modal fade" id="deleteModal">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
			        <h4 class="modal-title">删除用户</h4>
			      </div>
			      <div class="modal-body">
			        <p>确认删除<b>{{ obj.name }}</b>？</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			        <button type="button" class="btn btn-primary" onclick="">确认</button>
			      </div>
			    </div>
			  </div>
			</div>
			{% endfor %}
		</tbody>
	</table>
  <div class="tip" style="display:none;">
    <p style='font-size: 20px;color: #CCCCCC;text-align: center;'>没有符合条件的用户！</p>
  </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
    filterUser();
		cityList();
		$("#province").change(function(){
      cityList($(this).val());
			filterUser($(this).val(),$("#downtown").val());
		});
		$("#downtown").change(function(){
			filterUser($("#province").val(),$(this).val());
		});
		$("#searchUser").click(function(){
			var searchVal = $("#searchInput").val();
			filterUser($("#province").val(),$("#downtown").val(),searchVal);
		});
	})
</script>
{% endblock %}
